@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta{

    padding: .5rem .5rem .5rem 3rem;
    text-transform: uppercase;
    margin: 1rem 0;
    font-size: 1.6rem;
    font-weight: v.$bold;

    &__error{
        background-color: lighten(v.$rojo, 60%);
        border: .2rem solid v.$rojo;
        border-radius: 1rem;
        color: v.$rojo;
    }

    &__exito{
        background-color: lighten(v.$verde, 40%);
        border: .2rem solid v.$verde;
        border-radius: 1rem;
        color: darken(v.$verde, 20);
    }
}